// Colors
$white-color: #ffffff;
$black-color: #000000;
$accent-color: #702c7e;
$accent-color-two: #ed732e;
$accent-color-three: #df3f3e;
$accent-color-four: #38aedc;
$bg-color: #fab31a;
$scroll-progress-color: #c4296c;

// Font
$default-font-size: 16px;

// Transition
$transition-duration: 0.3s;
$transition-timing-function: ease;

// Border
$border-width: 1px;
$border-width-2x: 2px;
$border-radius: 4px;
$border-radius-btn: 10px;
$border-radius-block: 20px;

// Spaces
$space-small: 40px;
$space-big: 80px;

// Breakpoints
// min-width
$desktopM: 2560px;
$desktopS: 1920px;
$desktop: 1680px;
$laptopS: 1440px;
$laptop: 1280px;
$tabletS: 1024px;
$tablet: 768px;
$mobileS: 480px;
$mobile: 375px;

// max-width
$desktopS__max: 2559px;
$desktop__max: 1919px;
$laptopS__max: 1679px;
$laptop__max: 1439px;
$tabletS__max: 1279px;
$tablet__max: 1023px;
$mobileS__max: 767px;
$mobile__max: 479px;

//Breakpoints + px
$sm: 390;
$md: 744;
$lg: 1133;
$xl: 1280;
$xxl: 1440;

//Standard breakpoints
$breakpoints: (
  'sm': 390px,
  'md': 744px,
  'lg': 1133px,
  'xl': 1280px,
  'xxl': 1440px,
);